.hero {
  $hero-background: desaturate(darken($base-accent-color, 20), 30); 
  $hero-background-image: "http://www.ryanfaerman.com/assets/img/ryan_and_ayelet_green.png";
  $hero-color: white;

  background: url($hero-background-image);
  background-color: $hero-background;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  
  margin: -8px;
  margin-bottom: 4em;
  height: 700px;


  .hero-inner {
    @include clearfix;
    padding: 2em;
    color: $hero-color;
    

    button {
      @include button(simple, $base-accent-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      background: rgba(0,0,0,0.8);
      padding: 2em;
      margin-top: 200px;
      border-radius: 5px;
      min-width: 300px;

      @include span-columns(5);
      
      h1 {
        font-size: 1.4em;
        margin-bottom: .2em;
        font-family: $serif;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        font-family: $serif-2;
        @include media($large-screen) {
          font-size: 1.2em;
        }
      }
    }
  }
}