{{ partial "header.html" . }}

<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>My name is Ryan Faerman</h1>
      <p>I make &amp; break things &ndash; usually code and sometimes wood</p>
    </div>
  </div>
</div>

{{ range first 10 (where .Data.Pages "Section" "post") }}
  <article >
    <h1>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    {{ .Content }}
    <hr class="ookiaks" />
  </article>

{{ end }}

{{ $n := len .Data.Pages}}
{{ if gt $n 10 }}
<section id="continued-posts">
  <h3>Older Posts</h3>
  <ul class="articles">
    {{ range $i, $p := (where .Data.Pages "Section" "post") }}
      {{ if gt $i 10}}
      <li>
        <a href="{{ $p.Permalink }}">{{ $p.Title }}</a>
      </li>
      {{end}}
    {{end}}
  </ul>
</section>
{{ end }}

{{ partial "footer.html" . }}
