%header.header{role: 'banner'}
  .header-inner
    / %a.brand{href: '/'} Ryan Faerman
    %ul.nav
      %li.nav-item
        %a.home{href: '/'}
          %i.fa.fa-home
    %ul.nav.external.pull-right
      %li.nav-item
        %a{href: 'https://www.linkedin.com/in/ryanfaerman'}
          %i.fa.fa-linkedin
        %a{href: 'https://github.com/ryanfaerman'}
          %i.fa.fa-github-alt
        %a{href: 'https://www.flickr.com/photos/ryanfaerman/'}
          %i.fa.fa-flickr
        